html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

-webkit-scrollbar {
    width: 10px;
}

-webkit-scrollbar-track {
    background: #f1f1f1;
}

-webkit-scrollbar-thumb {
    background: #a92b37;
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}