---
import Layout from '../layouts/Layout.astro';
import ProductShow from '../components/ProductShow.astro';
---

<Layout>
    <main class="space-y-40 mb-40">
        <ProductShow/>
    </main>
</Layout>
