---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import MusicPlayer from "../components/MusicPlayer.astro";
import Cabecera from "../components/Cabecera.astro";
---

<Layout>
	<main class="space-y-40 mb-40">
		<Cabecera/>
		<HeroSection/>
		<!--<Features/>-->
		<MusicPlayer/>
		<!--<Stats/>-->
		<!--<Testimonials/>-->
		<CallToAction/>
		<!--<Blog/>-->
	</main>
</Layout>

<style>
@font-face {
	font-family: 'Bruno JB';
	src: url('/fonts/BrunoJBRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}
</style>