---
import Container from "./Container.astro"
---

<div class="relative py-16">
    <div aria-hidden="true"
         class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative">
            <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
                <h1 class="text-center bruno text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Hazte con tu
                    copia</h1>
                <p class="text-center text-xl text-gray-600 dark:text-gray-300">
                    Hazte un regalo, que sabes que te lo mereces. Es más, compra más de uno y regálalo. Regálaselo a tu
                    pareja, a tus padres, a tus hermanos... o también se lo puedes regular a algún ser querido. Regálaselo a un amigo o, por qué no, a un enemigo (para recuperar aquella vieja amistad). Regálaselo a tu compañero de trabajo, a tu jefe, a tu vecino, a tu profesor, a tu
                    entrenador, a tu médico, a tu abogado, a tu peluquero, a tu carnicero, a tu panadero, a tu frutero,
                    a tu verdulero, a tu pescadero, a tu fontanero, a tu electricista, a tu mecánico, a tu albañil, a tu
                    pintor o a tu jardinero. Regálaselo a tu perro, a tu gato, a tu canario, a tu pez, a tu tortuga, a
                    tu hámster, a tu conejo o a tu cobaya. Regálaselo a tu abuela, a tu abuelo, a tu tía, a tu tío, a
                    tu primo, a tu prima, a tu sobrino, a tu sobrina, a tu cuñado, a tu cuñada, a tu suegro, a tu
                    suegra, a tu yerno, a tu nuera. No esperes a que te lo regalen, el mundo se ha vuelto muy egoísta.
                    Rompe el círculo y regálalo tú.
                </p>
                <div class="flex flex-wrap justify-center gap-6">
                    <a
                            href="https://buy.stripe.com/9AQ3fveWVbk894Q4gg"
                            class="relative flex h-16 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
              <span class="relative text-3xl font-semibold text-white dark:text-dark"
              >¡Claro, lo quiero!</span
              >
                    </a>
                </div>
            </div>
        </div>
    </Container>
</div>