---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description"
          content="Descubre Ruela8, el nuevo disco de la Tuna de Derecho de Santiago, un viaje musical de diez años.">
    <title>Ruela 8 - Nuevo Disco Tuna Derecho Santiago de Compostela</title>
    <meta property="og:title" content="Ruela 8 - Nuevo Disco Tuna Derecho Santiago de Compostela"/>
    <meta property="og:description"
          content="Descubre Ruela8, el nuevo disco de la Tuna de Derecho de Santiago, un viaje musical de diez años."/>
    <meta property="og:image" content="https://ruela8.netlify.app/portada.jpg"/>
    <meta property="og:url" content="https://ruela8.netlify.app/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Ruela 8 - Nuevo Disco Tuna Derecho Santiago de Compostela"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Ruela 8 - Nuevo Disco Tuna Derecho Santiago de Compostela"/>
    <meta name="twitter:description"
          content="Descubre Ruela8, el nuevo disco de la Tuna de Derecho de Santiago, un viaje musical de diez años."/>
    <meta name="twitter:image" content="https://ruela8.netlify.app/portada.jpg"/>
    <meta name="twitter:image:alt" content="Ruela 8 - Nuevo Disco Tuna Derecho Santiago de Compostela"/>
    <meta name="twitter:site" content="@tunaderechosantiago"/>
    <meta name="twitter:creator" content="@tunaderechosantiago"/>
    <meta name="twitter:domain" content="https://ruela8.netlify.app/"/>
    <meta name="twitter:label1" content="Lanzamiento"/>
    <meta name="twitter:data1" content="2024-01-15"/>
    <meta name="twitter:label5" content="Precio"/>
    <meta name="twitter:data5" content="15"/>
    <meta name="twitter:label6" content="Género"/>
    <meta name="twitter:data6" content="Tuna"/>

    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-white dark:bg-gray-900">
	<AppHeader/>
	<slot/>
	<AppFooter/>
</body>
</html>
<style is:global>
    html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }

    .bruno {
        font-family: 'Bruno JB', cursive
    }
</style>